<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 list-main">
      <h2 class="text-center">Create a List</h2>
      <div class="form-group">
        <input placeholder="What should I list ?" [(ngModel)]="newItem.title" type="text" (keydown)="addNewItem($event)" class="form-control todo-input"
          value="{{newItem.title}}">
      </div>
      <ul class="list-group">
        <li class="list-group-item object-item" *ngFor="let item of allItems">
          <div class="row inline-block">
            <div class="col-xs-10 text-holder">
              <span id="checkmark-{{item.id}}" class="checkmark" *ngIf="item.done === true">&#10003;</span>
              <span class="item-text" [id]=item.id (click)="toggleStatus(item.id)">
              {{item.title}}
              </span>
            </div>
            <div class="col-xs-2 delete-holder"><span class="delete-btn" (click)="deleteItem(item.id)">X</span></div>
          </div>
        </li>
      </ul>
      <div id="bottom-info" class="clearfix" *ngIf="notDoneCount !== NaN">
        <span *ngIf="notDoneCount"> {{notDoneCount}} left to complete</span>
        <button *ngIf="notDoneCount < allItems.length" class="btn btn-xs btn-default" (click)="clearDone()"> Clear Completed </button>
      </div>
    </div>
  </div>
</div>
