<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 list-main">
      <div class="form-group">
        <input [(ngModel)]="newItem.title" type="text" (keydown)="addNewItem($event)" class="form-control todo-input" value="{{newItem.title}}">
      </div>

      <ul class="list-group">
        <li class="list-group-item object-item" *ngFor="let item of allItems">
          <div class="row inline-block">
            <div class="col-xs-10 text-holder">
              <span (click)="toggleStatus($event,item.id)">
              {{item.title}}
              </span>
            </div>
            <div class="col-xs-2 delete-holder"><span class="delete-btn" (click)="deleteItem(item.id)">X</span></div>
          </div>
        </li>
      </ul>
      <div class="container">
        <p> {{listCount}} left to complete</p>
      </div>
    </div>
  </div>
</div>
